@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
    * {
      font-family: 'Poppins', sans-serif;
    }
    
    // Variable
    // Color
    $card-bg-color: #ffffff;
    $card-border-color: #e0e0e0;
    $rating-bg-color: #ffffff;
    $rating-text-color: #000000; 
    // padding 
    $card-padding: 20px;
    $card-title-padding: 0 8px 0 8px;
    $rating-padding: 3px 8px 3px 8px;

    $product-img-max-width: 100%;
    $product-img-border-radius: 5px;
    $rating-font-size: 12px;
    $rating-border-radius: 20px;
    $rating-position-top: 28px;
    $rating-position-left: 30px;

    .container-1 {
      position: relative;
      display: flex;
      margin-top: 200px;
      justify-content: center;
      height: 400px;
      width: 100%;
      align-items: center;
      background-color: rgba(255, 208, 138, 0.5);
  
      .bg-image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background-image: url('assets/Images/bg-aboutus.png'); 
          background-size: 1200px;
          background-repeat: no-repeat;
          background-position: center;
          opacity: 0.5;
      }

        .content-left {
          padding-right: 100px;

          img {
              z-index: 1;
              margin-top: -130px;
              width: 300px;
              height: 430px;
              border: 5px solid #f5f5f594;
              border-radius: 15px;
              box-sizing: block;
          }
            
        }

        .content-right {
            width: 400px;
            margin-top: -20px;
            margin-left: 40px;
            margin-right: -40px;

            h2 {
              font-size: 28px;
                font-weight: 600;
            }

            .border-btm {
              display: inline-flex;
              align-items: self-end;
              background-color: #ff902A;
              border-radius: 5px;
              height: 4px;
            }

            h3 {
                font-weight: 600;
            }

            p {
              font-weight: 400;
              color: gray;
            }
            
            .btn-delivery {
                font-size: 10px;
                font-weight: bolder;
                padding: 0px 10px;
                margin-top: 10px;
                width: 120px;
                height: 30px;
                background-color: #2F2105;
                border-radius: 25px;
                border: none;
                color: #F4AE26;
            }
        }

}

.container-2 {
    margin-left: 100px;
    margin-top: 100px;

    h2 {
      font-size: 28px;
        font-weight: 600;
    }

    .border-btm-2 {
      display: inline-flex;
      align-items: self-end;
      background-color: #ff902A;
      border-radius: 5px;
      height: 4px;
    }

    .card-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 120px;

      .card {
          position: relative;
          background-color: $card-bg-color;
          border: 1px solid $card-border-color;
          border-radius: 10px;
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
          padding: $card-padding;
          max-width: 260px;
          height: 280px;
        }
        
        .rating {
          position: absolute;
          top: $rating-position-top;
          left: $rating-position-left;
          background-color: $rating-bg-color;
          color: $rating-text-color;
          font-size: $rating-font-size;
          font-weight: 700;
          padding: $rating-padding;
          border-radius: $rating-border-radius;
          display: flex;
          align-items: center;
          outline: 3px solid rgba(255, 255, 255, 0.5);
      }
      
      .icon-star {
          width: 12px;
          height: 12px;
          margin-left: 3px;
      }
      
      .product-img {
          max-width: $product-img-max-width;
          border-radius: $product-img-border-radius;
          margin-bottom: -10px;
          position: relative;
          z-index: 0;
      }
      
        
        .product-title {
          display: flex;
          justify-content: space-between;
          padding: $card-title-padding;
          align-items: center;
          margin-bottom: -20px;
          
            .product-name {
              font-size: 20px;
              font-weight: 600;
              
            }
            
            .product-price {
              font-size: 20px;
              font-weight: bold;
            }
        }
        
        .product-details {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: $card-title-padding;
  
            .product-description {
              font-size: 12px;
              font-weight: 500;
              color: gray;
            }
            
            .btn-product {
              border-radius: 25px;
              background-color: #ff902A;
              border: none;
              width: 30px;
              height: 30px;
            }
            
            .ai-cart {
              color: #e0e0e0;
            }
        }
    }

    .card-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 120px;
      padding-top: 30px;

      .card {
          position: relative;
          background-color: $card-bg-color;
          border: 1px solid $card-border-color;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          padding: $card-padding;
          max-width: 260px;
          height: 280px;
          margin: 0;
        }
        
        .rating {
          position: absolute;
          top: $rating-position-top;
          left: $rating-position-left;
          background-color: $rating-bg-color;
          color: $rating-text-color;
          font-size: $rating-font-size;
          font-weight: 700;
          padding: $rating-padding;
          border-radius: $rating-border-radius;
          display: flex;
          align-items: center;
          outline: 2px solid rgba(255, 255, 255, 0.5);
      }
      
      .icon-star {
          width: 12px;
          height: 12px;
          margin-left: 3px;
      }
      
      .product-img {
          max-width: $product-img-max-width;
          border-radius: $product-img-border-radius;
          margin-bottom: -10px;
          position: relative;
          z-index: 0;
      }
      
        
        .product-title {
          display: flex;
          justify-content: space-between;
          padding: $card-title-padding;
          align-items: center;
          margin-bottom: -20px;
          
            .product-name {
              font-size: 20px;
              font-weight: 600;
              
            }
            
            // Product Price Style
            .product-price {
              font-size: 20px;
              font-weight: bold;
            }
        }
        
        .product-details {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: $card-title-padding;
  
            .product-description {
              font-size: 12px;
              font-weight: 500;
              color: gray;
            }
            
            .btn-product {
              border-radius: 25px;
              background-color: #ff902A;
              border: none;
              width: 30px;
              height: 30px;
            }
            .ai-cart {
              color: #e0e0e0;
            }
        }
    }
}